body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f5f7fa;
}

.loginCard {
  max-width: 400px;
  margin: 80px auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.btnGoogle,
.btnSend {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnGoogle {
  margin-top: 40px;
}

.btnGoogle button {
  background-color: #d03636;
  width: 100%;
  padding: 0.75rem;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.rodape button:hover {
  background-color: #b10f0f;
}
